<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            padding: 7px;
            background-color: black;
            border-radius: none;
            border-radius: 5px;
           text-decoration: none;
           color: white;
        }
    </style>
</head>
<body>
   
    <div class="t1">
        <h1 class="c1"><%=filename%></h1>
        <pre class="c1"><%=filedata%></pre>
    </div>
    <a href="/">Go Back</a>
</body>
</html>